TOKEN="bot_token"
CLIENT_ID="bot_discord_id"
DB_PASS="db_password"
MAIN_GUILD_ID="main_deployment_server_id"
DEV_GUILD_ID="development_server_id"
DEV_CHANNEL_ID="development_channel_id"
MOD_CHANNEL_ID="mod_channel_id"
FORUM_CHANNEL_ID = 'forum_channel_id';
QOTD_TAG_ID = 'qotd_forum_tag_id';
QOTD_ROLE_ID = 'qotd_role_id';
ANNOUNCEMENT_CHANNEL_IDS = ['announcement_channel_id_1', 'announcement_channel_id_2'];
DEBUG="false"